{% extends 'admin.html.twig' %}

{% block title %}Developer Dashboard{% endblock %}

{% block content %}
	<h1 class="pages">Developer Dashboard</h1>
	<a class="btn btn-primary" href="/admin/developer/sitemap"><i class="fa fa-sitemap"></i> Update Sitemap</a>
	<a class="btn btn-primary" href="/admin/developer/sitemap/products"><i class="fa fa-sitemap"></i> Update Product Sitemaps</a>
{% endblock %}